<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <title>OVID :: OAI-PMH Validator</title>
        <link media="screen" href="http://www.ub.uni-bielefeld.de/css/ub_screen.css" type="text/css" rel="stylesheet">
        

    </head>
    <body>
        <div id="contenthauptspalte">
            <h1>Ovid</h1>
            <h2>OAI-PMH Validator</h2>

            <form action="/ovid" enctype="multipart/form-data" method="POST">
            <p><input type="text" name="field_url" size="50" value="http://"/></p>
            <p>
            <select name="menu_url" onChange="">
            <option>Or select a repository from the list ...</option>
            {% for repo in known_repos %}
                <option value="{{repo.url}}">{{repo.name}}</option>
            {% endfor %}            
            </select>
            </p>
            <p><input id="send" type="submit" name="senden" value="Validate!"/></p>
            </form>
        
        <p>
            <table>
                <tr><td></td></td></tr>
                {% for result in result_keys %}
                    <tr><td>{{result}}:</td><td>{{results[result]}}</td></tr>
                {% endfor %}
            </table>
        </p>        
        </div>
    </body>
</html>
